@import "../../../scss/base/variables";
@import "../../../scss/abstract/mixins/responsive";

.balance {
  background-color: $color-darker;
  padding: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__fullname {
    font-weight: $weight-regular;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: $weight-bold;

    @include responsive-size(
      $responsive-max-width,
      $max-width: $width-tablet-potrait
    ) {
      flex-direction: column-reverse;
      gap: 2rem;
    }
  }

  &__balance {
    display: flex;
    justify-content: space-between;

    @include responsive-size(
      $responsive-max-width,
      $max-width: $width-mobile-big
    ) {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
