@import "../../../scss/base/variables";

.setting {
  padding: 5rem 2rem;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: $color-darkest;
  }
}
