@import "../base/variables";
@import "../abstract/mixins/responsive";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @include responsive-size(
    $responsive-max-width-max-height,
    $max-width: 414px,
    $max-height: 736px
  ) {
    font-size: 60%;
  }

  @include responsive-size($responsive-max-width, $max-width: 375px) {
    font-size: 55%;
  }

  @include responsive-size(
    $responsive-max-width-min-height,
    $max-width: 320px,
    $min-height: 500px
  ) {
    font-size: 46%;
  }

  // IPHONE 4 and earlier
  @include responsive-size(
    $responsive-max-width-max-height,
    $max-width: 320px,
    $max-height: 480px
  ) {
    font-size: 46.5%;
  }
}

body {
  font-size: inherit;
  font-family: "Syne", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-weight: $weight-regular;
  max-width: $width-desktop-max;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: $color-darkest;
  color: $color-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bg-design {
  position: fixed;
  z-index: -1;
  width: 100%;
}

header,
section,
footer {
  padding: 5rem 4rem;

  @include responsive-size($responsive-max-width, $max-width: 870px) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
.button {
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
