@import "../../scss/base/variables";
@import "../../scss/abstract/mixins/responsive";

.feature {
  display: flex;
  justify-content: space-between;

  @include responsive-size(
    $responsive-max-width,
    $max-width: $width-tablet-potrait + 100
  ) {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
